@charset 'utf-8';
/* 웹폰트 설정 */

/* reset */
body {
    font:normal 16px 'Roboto', sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
	/* box-sizing: border-box; */
}
li {list-style:none;}
a {text-decoration:none;}



/* 공통요소 */
.card{
  width:280px; 
	margin: 30px auto; /*auto로 가운데 정렬*/
  border-radius: 8px;
  overflow: hidden; /*자식 div가 남아있어서 radius가 적용되지 않는 것 처럼 보임*/
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nav{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 18px;
  height:27px;
  color:black;
}

/*프로필 사진*/
.card .nav .profile > img{
  width: 27px;
	height: 27px;
  /*inline요소인 img 태그 정렬*/
  vertical-align: middle;
}

.card .nav .profile-big > img{
  width: 39px;
	height: 39px;;

  /*inline요소인 img 태그 정렬*/
  vertical-align: middle;
}

/*제목, 작성자*/
.title{
  font-weight: bold;
  font-size: 22px;
  color: #000000;
  margin: 2px 0px;
}

.writer{
  font-size: 14px;
  margin: 5px 0px;
  font-weight: 700;
  color: gray;
}

/*reaction - 좋아요, 댓글*/
.reaction > *{
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  min-height: 21px;
  margin:3px 0px;
  padding-top: 2px;
}

.card .nav .reaction > .comment{
  background: url("../images/message-circle.svg") no-repeat;
  margin-left: 13px;
  padding-left: 23px;
}

.card .nav .reaction > .like{
  background: url("../images/heart.svg") no-repeat;
  padding-left: 23px;
}

/*card2 nav*/
.names{
  width: 175px;
  margin-left: 10px;
  vertical-align: middle;
}

.names > div{
  padding-left: 1px;
  font-size: 12px;
  color: #828282;
}

/*article*/
.article{
  height: 138px;
  display: flex;
  flex-direction: column;
  padding: 5px 12px;
}

.text{
  font-size: 12px;
  line-height: 14px;
  color:#333333;
}

/*top-section*/
.top-section{
  height: 76px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.btn {
  width: 20%;
	border:none;
	background-color: #999;
	border-radius: 8px;
	padding:5px 10px 4px;
	color:white;
	font-size: 10px;
	font-weight: 700;
}
.btn.green {background-color: #27AE60;}
.btn.red {background-color: #EB5757;}
